<style>
  .main_taxonomy_list_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_taxonomy_list_wrapper > a {
    color: var(--mainColor);
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    font-size: 2rem;
  }

  .main_taxonomy_list_outer_border {
    border: 1px solid var(--borderGray);
    width: 15rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  .main_taxonomy_list_container {
    border: 1px solid var(--borderGray);
    width: 14rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: scroll;
    border-radius: 4px;
    position: relative;
  }

  .main_taxonomy_list_container::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
    background-color: transparent; /* Make the scrollbar transparent */
  }

  .main_taxonomy_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Oswalld";
    transition: all 0.5s ease;
    top: 0;
    padding: 0.3rem;
    width: 100%;
  }

  .main_taxonomy_list > a {
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid var(--borderGray);
    color: var(--borderGray);
    text-align: center;
  }

  .main_taxonomy_list > a:hover {
    border-bottom: 1px solid var(--mainColor);
    color: var(--mainColor);
  }
</style>

<div class="main_taxonomy_list_wrapper">
  <a href="/categories">Categories</a>
  <div class="main_taxonomy_list_outer_border">
    <div class="main_taxonomy_list_container">
      <div class="main_taxonomy_list">
        <!-- creating an dictionary using the dict function and assign it to a new variable $renderedCategories. This dictionary will be used to keep track of the categories that have already been rendered. -->
        {{ $renderedCategories := dict }}

        <!-- Starting a loop that iterates over all the pages in the current pagination context. -->
        {{ range .Site.RegularPages }}

        <!-- Starting a nested loop that iterates over all the categories in the current page's categories field. We assign each category to a new variable $category. -->
        {{ range $category := .Params.categories }}

        <!-- remove any leading or trailing spaces from the category name using the trim function, and assign the result to a new variable $categoryTrimmed. -->
        {{ $categoryTrimmed := trim $category " " }}

        <!-- use the index function to check if the current category has already been rendered by checking if it exists in the $renderedCategories dictionary. If the category has not been rendered, we proceed with rendering the category name. -->
        {{ if not (index $renderedCategories $categoryTrimmed) }}

        <!-- use the merge function to add the category to the $renderedCategories dictionary with a value of true. This ensures that we don't render the same category name again in future iterations of the loop. -->
        {{ $renderedCategories = merge $renderedCategories (dict $categoryTrimmed true) }}

        <a href="/categories/{{ $categoryTrimmed | urlize }}/">{{ $categoryTrimmed }}</a>
        {{ end }} {{ end }} {{ end }}
      </div>
    </div>
  </div>
</div>
